//all of main styles
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  font-family: 'IRANSans' !important;
  direction: rtl;
  padding: 0;
  margin: 0;
}
.container {
  font-family: 'IRANSans' !important;
}
h1 {
  font-family: 'IRANSans' !important;
}
.v-application {
  font-family: 'IRANSans' !important;
}
